*{
    margin: 0;
    padding: 0;
    color: #f8f8ff;
    text-align: center;
}
body{
    background-color: dimgray;
    background-image: url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a{
    font-family: "Hubot sans", sans-serif;
    font-weight: 500;
}
a{
    text-decoration: none;
    background-color: #f8f8ff;
    border: 2px solid rgb(70, 70, 70);
    color: dimgrey;
    padding: 20px 50px;
    border-radius: 15px;
    margin: 30px auto;
    text-transform: uppercase;
    display: inline-block;
}
video{
    width: 100%;
    height: auto;
    max-width: 500px;
    display: block;
    margin: 20px auto 50px;
    border: 2px solid rgb(70, 70, 70);
}
.container{
    margin: 120px auto 80px;
    max-width: 900px; 
    padding: 0 15px; 
}

@media (min-width: 600px) { /* tablets */
    .container {
        max-width: 720px;
        margin: 100px auto 100px;
    }
    a {
        padding: 18px 40px;
    }
    video {
        max-width: 680px;
    }
}

@media (min-width: 992px) { /* desktops */
    .container {
        max-width: 1100px;
        margin: 80px auto 60px;
    }
    a {
        padding: 20px 50px;
    }
    video {
        max-width: 820px;
        margin-top: 0px;
        margin-bottom: 40px;
    }
}
